{% extends 'base.html' %}
{% block content %}


<h1>All your favourite blogs</h1>
<ul>
{% for post in post_object %}
    </br>
    <div class="alert alert-success col-md-2- col-md-offset-4" role="alert">

        <label><small><a href="{% url 'get-category' post.category|slugify %}" class="link-dark">{{post.category}}</a></small></label>
        <h4><a href={% url "article-detail" post.pk %}>{{post.title}}</a></h4>
        <small>{{post.auther.first_name }} {{ post.auther.last_name }} | {{post.auther.email}}</small>
        <hr></hr>
        {{post.snippet}}
        </div>

{% endfor %}
</ul>
{% endblock %}

